@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/* .seat.selected {
  background-color: #f9a825;
}

.seat:last-child {
  margin-right: 0px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
} */

/* .request {
  border: 1px solid #3e3e3e;
  border-radius: 4px;
}

.request span {
  display: inline-block;
  margin: 0 8px;
} */

/* span.counter {
  font-family: monospace;
  font-size: 24px;
  color: #fff;
} */

/* span.control {
  width: 20px;
  height: 20px;
  background-color: #2e2e2e;
  cursor: pointer;
  border-radius: 10px;
}

span.control:hover {
  background-color: #cecec6;
  transform: scale(1.2);
  color: black;
} */
